/* index */
html, body{
  font-size:18px;
  font-family: "PT Sans bold"

}

.container{
  width: 300px;
}

.page__header {

}

.navigation {

}

.logo {

}

.logo__image {

}

.navigation__list{
  background-color: #81b3d2;
}

.navigation_item{

}

.navigation__item-close{

}

.navigation__link{

}

.promo-block {

}

.promo-block__title {

}

.promo-block__text{

}

.reason-row{

}

.reason{

}

.reason__title{

}

.reason__number{

}

.reason__text{

}

.reason_picture{

}
.reason-pictrue__image{

}
.reason--image{

}

.reason--image-home{

}

.reason--image-hamburger{

}

.reason--image-gift {

}

.reason-row--gray{

}

.form {

}

.form__title {

}

.check-in__label{

}

.check-in__input {

}

.check-out__label{

}

.check-out__input{

}

.form__half-width{

}

.half-width__label{

}

.button__submit{

}

.map{

}
.page__footer{

}

.footer__column{

}

.social-btns{

}

.social-btns__item{

}

.social-btns__link {

}

.author {

}

.author__link {

}

.author__image {

}
